//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Cloud computing-Vote
        // Css
        link(href='/stylesheets/bootstrap.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        nav.navbar.navbar-expand-md.navbar-default.fixed-top.shadow-sm
            a.navbar-brand(href='/resultats')
                p
                    img(src='/images/vote.png', height='100px', width='100px')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                form.form-inline.mt-2.mt-md-0.mr-auto
                    button.btn.my-2.my-sm-0(type='submit')
                ul.nav.navbar-nav
                    li.nav-item.active
                        a.nav-link.btn.btn-primary#restart(href='/deleteAll')
                            p Recommencer le test
                    li.nav-item.active
                        a.nav-link(href='#firstLevel')
                            p Premier niveau
                    li.nav-item
                        a.nav-link(href='#secondLevel')
                            p Deuxième niveau
        // About
        section#firstLevel
            .container.about
                .row
                    .col-md-6.big-letter
                        p
                            b  1er niveau
                        br
                        br
                .row
                    - for (var i=1;i<=nbrCandidat;i++){
                    .col-md-4.text-center
                        .card.border-info.text-center
                            .card-header
                                | Candidat #{i}
                            .card-body
                                br
                            .card-footer
                                a.btn.btn-info(href='/resultPartyByPartyNumber/#{i-1}',id='#{i}') Voir les résultats
                    - }
        // Gallery
        section#secondLevel
            .container
                .row
                    .col-md-6.big-letter
                        p
                            b 2ème niveau
                        br
                .row
                    .col-md-4.text-center
                        p 
                        br
                        .card.border-info.text-center
                            .card-header
                                | Nos résultats
                            .card-body
                                br
                            .card-footer
                                a.btn.btn-info(href='/ourOwnResult', id='nosResultat') Voir les résultats
                    .col-md-4.text-center
                        p 
                        br
                        .card.border-info.text-center
                            .card-header
                                | Résultat ELECAM
                            .card-body
                                br
                            .card-footer
                                a.btn.btn-info(href='/resultPartyByScrutineerName/elecam', id='Elecam') Voir les résultats
                    .col-md-4.text-center
                        p 
                        br
                        .card.border-info.text-center
                            .card-header
                                | Résultat de réferences
                            .card-body
                                br
                            .card-footer
                                a.btn.btn-info(href='/resultPartyByScrutineerName/bon', id='Reference') Voir les résultats
        // End Gallery
        // Copyright
        footer
            .container
                p.text-center
                    | © 2018 - Designed by 
                    a(href='') 5GI
        a.cd-top(href='#page-top') Top
        // script
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/modernizr.js')
        script(src='/javascripts/script.js')
        script.
            $('#restart').on('click', function(){
                $(this).hide();
            })